<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<div *ngIf = "(authService.getUser()|async)">
<p *ngIf = "!(posts$ | async)"> loading your posts... </p>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{post.title}}
            </mat-panel-title>
          
        </mat-expansion-panel-header> 
        <b>body: </b>
        <br>
        {{post.body}} 
        <br><br>
        <button mat-raised-button color="primary" 
        (click)="addLike (post.id,post.Like)">
        Like
    </button>    
&nbsp;
    <button mat-raised-button 
            color="warn"
            (click) = deletePost(post.id)>
            Delete
    </button> 
            <!-- Space maker -->
            &nbsp;
<br><br>
        <b>Likes :</b> {{post.Like}}
    </mat-expansion-panel>
</mat-accordion>
</div>