<mat-card>
    <h1>{{formType}}</h1>
    <form #customerForm="ngForm">
      <div class="example-container">
        <p>
        <mat-form-field>
            <input 
                matInput placeholder="Name"
                [(ngModel)] = "name"
                name = "name"
                required>
        </mat-form-field> 
        </p>
        <p>
        <mat-form-field>
                <input 
                    matInput placeholder="Education years"
                    [(ngModel)] = "years"
                    name = "years"
                    type = "number"
                    min = "0"
                    max = "24"
                    required>
        </mat-form-field>
      </p>  
      <mat-error><p *ngIf = "isError">Years of education should be between 0 and 24</p></mat-error>
      <p>
        <mat-form-field>
                <input 
                    matInput placeholder="Salary"
                    [(ngModel)] = "salary"
                    name = "salary"
                    type = "number"
                    required>
        </mat-form-field>
      </p>                       
        <div >
            <button mat-raised-button color="primary"
             (click) = "updateParent()"
             [disabled]="!customerForm.form.valid"
             >{{buttonText}}</button>
            <button mat-raised-button (click) = "tellParentToClose()" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>
